*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Loading page */
.loading-page{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 100vh;
}
.bottom-design{
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100vw;
  background-color: pink;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


