.top {
  display: flex;
  width: 100vw;
  height: 40vh;
}
.left {
  width: 50vw;
}
.leftItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6a0070;
  font-size: 30px;
}
.userNameNdBio {
  display: flex;
  color: #6a0070;
  flex-direction: column;
}
.userNameNdBio input {
  width: 300px;
  height: 30px;
  color: #6a0070;
  font-size: 20px;
  border: none;
  background-color: white;
  outline: none;
}
.userNameNdBio label {
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-family: sans-serif;
}
.userNameNdBio input.editing {
  border: 1px solid #333;
  border-radius: 8px;
  padding: 8px;
}
.right {
  width: 50vw;
  position: relative;
}
.rightItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rightItem button {
  background-color: #6a0070;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  width: 130px;
}
.fullScreenLoader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it overlays everything */
}
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}