.navbar {
  background-color: #6a0070;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  z-index: 999;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 20px 30px;

}
.logo{
    position: absolute;
    left: 30px;
}
.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 200px;
}
